# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoLand

.idea

# 配置文件
wefile.conf
db_conf.yml
auth_conf.yml
base_conf.yml
